@model TheatreWeb.Models.Halls

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayNameFor(model => model.HallName)</h1>

<div>
    <h4>Залы</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HallName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostCoefficient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostCoefficient)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
<style>
    h1 {
        color: rgba(255, 255, 255, 0.7)
    }

    h4 {
        color: rgba(255, 255, 255, 0.7)
    }

    dl {
        color: rgba(255, 255, 255, 0.7)
    }
</style>